@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Galindo&family=Marmelad&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SuperBasic';
	src: url('../fonts/SuperBasic.woff') format('woff'),
		url('../fonts/SuperBasic.woff') format('woff');
	font-weight: 400;
	/* normal weight */
	font-style: normal;
	/* normal style */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(0, 0, 0, 0.1);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fed7aa;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ffedd5;
	cursor: pointer;
}

.header {
	font-family: 'Galindo', sans-serif;
}

body {
	font-family: 'Asap', sans-serif;
}
